<a href="https://colab.research.google.com/github/Meguazy/project_CSD/blob/main/notebook_exploration_cleaning/tsne_2dim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://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@github.com/Meguazy/project_CSD.git

Cloning into 'project_CSD'...
remote: Enumerating objects: 653, done.
remote: Counting objects: 100% (481/481), done.
remote: Compressing objects: 100% (377/377), done.
remote: Total 653 (delta 164), reused 365 (delta 91), pack-reused 172
Receiving objects: 100% (653/653), 48.46 MiB | 23.42 MiB/s, done.
Resolving deltas: 100% (186/186), done.

In [2]:
%cd project_CSD/

/content/project_CSD

In [ ]:
#Usare ogni volta che si inizia a lavorare per accertarsi che non ci siano
#cambiamenti non sincronizzati

!git pull

In [ ]:
from google.colab import auth
auth.authenticate_user()

import requests
gcloud_token = !gcloud auth print-access-token
gcloud_tokeninfo = requests.get('https://www.googleapis.com/oauth2/v3/tokeninfo?access_token=' + gcloud_token[0]).json()
EMAIL = str(gcloud_tokeninfo['email'])

!echo $EMAIL

#Usare per fare commit atomici e frequenti.
#Ricordiamoci di usare mettere sempre dei messaggi di commit chiari in modo da
#poter rollbackare o cherry-pickare in caso di bisogno.

!git config --global user.email $EMAIL

!git add .
!git commit -m "Added first pre-processing logic"
!git push

francy.finucci@gmail.com
[main b658b96] Added first pre-processing logic
 2 files changed, 412 insertions(+)
 create mode 100644 data/tsne_data/tsne_orizzontale/time_series_tsne1.csv
 create mode 100644 data/tsne_data/tsne_orizzontale/time_series_tsne2.csv
Enumerating objects: 10, done.
Counting objects: 100% (10/10), done.
Delta compression using up to 2 threads
Compressing objects: 100% (7/7), done.
Writing objects: 100% (7/7), 2.00 MiB | 3.46 MiB/s, done.
Total 7 (delta 3), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/Meguazy/project_CSD.git
   f115061..b658b96  main -> main

In [4]:
# CALCOLO L'ENTROPIA TOTALE DEL DATASET DI PARTENZA

from scipy.stats import entropy

def calculate_entropy(X_scaled):
    # Setto una costante in modo da avere il meno possibile probabilità uguali a 0.
    # Questo perché scipy.stats.entropy assume che il vettore passato non abbia
    # probabilità uguali a 0.
    epsilon = 1e-10

    # Modifico il dataset "X_scaled" (quello iniziale) aggiungendo epsilon
    # Qui eseguo anche il valore assoluto perché chiaramente le probabilità non sono
    # definite per valori negativi.
    joint_probs = np.abs(X_scaled.flatten()) + epsilon

    # In alcuni casi, per valori troppo vicini allo zero, python setta
    # automaticamente a 0 la variabile anche dopo aver aggiunto epsilon.
    # Dato che le probabilità a zero non hanno alcun peso sull'entropia di un
    # oggetto, semplicemente le filtro.
    nonzero_probs = joint_probs[joint_probs > 0]

    if len(nonzero_probs) == 0:
        print("Tutte le probabilità sono zero. Impossibile calcolare l'entropia")
        joint_entropy = 1
    else:
        # base=2 significa che sto usando logaritmi in base 2 per calcolare l'entropia
        # Possono essere usati anche altri logaritmi, ma la base 2 è quella usata dal
        # t-sne. Ergo, dobbiamo restare sulla stessa base di logaritmo anche per il totale.
        joint_entropy = entropy(nonzero_probs, base=2)
    return joint_entropy

In [24]:
# APPLICO IL T-SNE E CALCOLO LA KL-DIVERGENCE
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE

mean_perc_array = np.zeros(2)

for traino_number in range(2, 3):
    dir_path = "data/processed_data/TrainoCaso" + str(traino_number) + "/"
    raw_dir_path = "data/raw_data/DatasetRuoteCaso" + str(traino_number) + "/"

    time_series_df = pd.read_csv(dir_path + "time_series.csv")

    num_files = len([f for f in os.listdir(raw_dir_path)if os.path.isfile(os.path.join(raw_dir_path, f))])

    final_df = pd.DataFrame()

    perc_sum = 0
    count = 1
    for acq_num in range(1, num_files + 1):
        # Seleziono, in questo caso, l'acquisizione numero acq_num
        selected_df = time_series_df.loc[time_series_df['Acquisition Number'] == acq_num]

        # Facendo così prendo solo la prima time series dell'acquisizione.
        df_axe1 = selected_df[['Axe1X', 'Axe1Y', 'Axe1Z']]
        df_axe2 = selected_df[['Axe2X', 'Axe2Y', 'Axe2Z']]

        # Se avessi voluto prendere la seconda (perché ricordiamo che abbiamo 2 time series ad acquisizione)
        # avrei dovuto scrivere la seguente linea di codice:
        # selected_df = time_series_df[['Axe2X', 'Axe2Y', 'Axe2Z']]
        # Da tenere a mente che il dataset finale dovrà contenere ENTRAMBE le time series sullo stesso record.
        # Quindi, la struttura finale della tabella dovrà essere:
        # [time, time_series_1, time_series_2]
        # Mentre quella attuale è
        # [time, 'Axe1X', 'Axe1Y', 'Axe1Z', 'Axe2X', 'Axe2Y', 'Axe2Z']
        # Per schematizzare ancora meglio:
        # 1) 'Axe1X', 'Axe1Y', 'Axe1Z' ---> (tramite il t-sne) time_series_1
        # 2) 'Axe2X', 'Axe2Y', 'Axe2Z' ---> (tramite il t-sne) time_series_2

        # Normalizzo i dati
        sc = StandardScaler()
        X_scaled_axe1 = sc.fit_transform(df_axe1)
        X_scaled_axe2 = sc.fit_transform(df_axe2)

        entropy_axe1 = calculate_entropy(X_scaled_axe1)
        entropy_axe2 = calculate_entropy(X_scaled_axe2)

        # Applico il TSNE con 1 componente (per ottenere un dataset unidimensionale).
        # Gli iper-parametri (perplexity, learning_rate e n_iter) sono settati un po' ad
        # occhio. Andrebbe fatta un po' di hyper-parameters optimization per vedere se è possibile
        # ottenere valori ancora migliori di KL divergence (migliori = che danno un risultato di Percentage Entropy increase più basso).
        tsne = TSNE(n_components=2, perplexity=30, learning_rate = 15.0, n_iter = 500)

        X_tsne_axe1 = tsne.fit_transform(X_scaled_axe1)
        kl_divergence_axe1 = tsne.kl_divergence_
        perc_sum += (kl_divergence_axe1/entropy_axe1)*100

        X_tsne_axe2 = tsne.fit_transform(X_scaled_axe2)
        kl_divergence_axe2 = tsne.kl_divergence_
        perc_sum += (kl_divergence_axe2/entropy_axe2)*100

        df_schema = {
            'Acquisition Number' : acq_num,
            't_series_num' : 1,
            f'x': X_tsne_axe1[:,0],
            f'y': X_tsne_axe1[:,1]
          }
        df = pd.DataFrame(df_schema)
        final_df = pd.concat([final_df, df], axis=0)

        df_schema = {
            'Acquisition Number' : acq_num,
            't_series_num' : 2,
            f'x': X_tsne_axe2[:,0],
            f'y': X_tsne_axe2[:,1]
          }
        df = pd.DataFrame(df_schema)

        print("-------------------------------------------------------------------------")

        final_df = pd.concat([final_df, df], axis=0)
        print(final_df)

        count += 1


    mean_perc_array[traino_number - 1] = perc_sum / (num_files * 2)

    final_df.fillna(0)

    final_df.to_csv(f'data/tsne_data_2dim/tsne_2dim_caso{traino_number}.csv', sep=',', encoding='utf-8', index=False)

mean_percs = {
    'mean_perc_1': mean_perc_array[0],
    'mean_perc_2': mean_perc_array[1]
  }
df = pd.DataFrame(mean_percs, index = [0])
df.to_csv('data/tsne_data/entropy_perc.csv', sep=',', encoding='utf-8', index=False)

-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1089                   1             2   5.400984  -0.908776
1090                   1             2   2.106054   8.843139
1091                   1             2  -3.513422  15.592871
1092                   1             2   3.538985  -1.994275
1093                   1             2  -1.512762  -5.743530

[2188 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                   2             2   9.106552 -8.213672
1089                   2             2  -0.932126 -2.443547
1090                   2             2   6.507475  2.087790
1091                   2             2 -10.196096 -3.385565
1092                   2             2  -7.040377 -7.915615

[4374 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                   3             2   5.187081  5.560430
1089                   3             2   3.866148  8.693865
1090                   3             2  -3.148312  8.810401
1091                   3             2   3.291282  7.385854
1092                   3             2   8.710890  5.188740

[6560 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1089                   4             2  -7.976224 -4.458339
1090                   4             2  -5.884300  8.682848
1091                   4             2 -10.216117  3.733456
1092                   4             2 -13.842370  2.137428
1093                   4             2  -9.905949  5.462545

[8748 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1089                   5             2  -2.114836  5.757907
1090                   5             2  -2.133001  6.311490
1091                   5             2  -4.140943  2.267285
1092                   5             2  -7.481825  1.577464
1093                   5             2   2.626667 -5.123023

[10936 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                   6             2  -8.407979  4.194868
1089                   6             2   4.513389  6.752944
1090                   6             2  -3.244153  4.394170
1091                   6             2  -0.584850 -3.960626
1092                   6             2   5.064414  7.364582

[13122 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                   7             2   4.997934   8.418878
1089                   7             2   1.210958 -10.308089
1090                   7             2  14.205119  -1.049000
1091                   7             2   5.877218  12.561508
1092                   7             2   7.572763  -3.893615

[15308 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                   8             2 -11.123955  13.773016
1089                   8             2   8.601821  12.792584
1090                   8             2  -4.095250  -2.706122
1091                   8             2  -7.574430   9.714242
1092                   8             2 -14.130627  -6.852799

[17494 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1089                   9             2  -4.050343  -0.155641
1090                   9             2  -3.353533   6.170053
1091                   9             2  -9.094269  14.516106
1092                   9             2  -8.326883   9.189708
1093                   9             2  -4.874480   0.493108

[19682 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  10             2   1.861122  -4.571147
1089                  10             2  -6.790069 -14.491295
1090                  10             2   7.357687 -16.705322
1091                  10             2 -14.493728  -5.128437
1092                  10             2  10.773708   0.106114

[21868 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  11             2  -0.326254   7.561283
1089                  11             2   0.511460  -5.003181
1090                  11             2  -0.165101   5.265337
1091                  11             2   0.123250   5.008881
1092                  11             2   2.063902  10.005460

[24054 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                  12             2  -4.640373 -3.849823
1089                  12             2  -0.696056 -8.876098
1090                  12             2   3.040606 -1.946378
1091                  12             2   3.717146 -0.462802
1092                  12             2 -12.943507 -6.374280

[26240 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  13             2 -10.372972   1.441934
1089                  13             2  -4.766062  -2.705557
1090                  13             2   5.794387  -8.128891
1091                  13             2   5.630483 -11.343866
1092                  13             2   7.925841 -14.664278

[28426 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1089                  14             2   4.516758  3.652196
1090                  14             2   3.181546 -2.477139
1091                  14             2   1.076004  8.399660
1092                  14             2  -4.525413 -4.477315
1093                  14             2   4.858510  3.363795

[30614 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1089                  15             2  -9.537602 -8.820906
1090                  15             2   2.678004 -3.044652
1091                  15             2   4.139792  7.280734
1092                  15             2   1.933580 -5.786767
1093                  15             2  -0.396210 -0.299580

[32802 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                  16             2  -0.709006  0.248076
1089                  16             2  16.875381  0.901748
1090                  16             2  15.223287 -2.240790
1091                  16             2   0.123395  5.702103
1092                  16             2   7.059508 -3.900083

[34988 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  17             2  -6.551021   1.005967
1089                  17             2   0.409745   3.774811
1090                  17             2   0.453966  -2.775248
1091                  17             2   4.248217 -11.024140
1092                  17             2  -0.472775  -9.566741

[37174 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                  18             2  -4.010925 -3.355502
1089                  18             2   2.387801 -9.102622
1090                  18             2   3.525345 -1.866519
1091                  18             2  -4.139271 -0.413622
1092                  18             2  -8.983747 -3.662965

[39360 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  19             2  -6.230735   4.142437
1089                  19             2  -7.034626   2.603841
1090                  19             2   0.853121  -3.528413
1091                  19             2   5.313445 -10.933976
1092                  19             2   4.140048  -9.703262

[41546 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1089                  20             2  14.677775  4.475115
1090                  20             2  -1.630643 -3.762853
1091                  20             2  -4.524419 -8.650912
1092                  20             2   0.954819  2.599643
1093                  20             2   8.928834  1.849108

[43734 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y
0                      1             1 -25.387856  7.228724
1                      1             1 -27.947577 -3.327996
2                      1             1 -26.281733  6.580058
3                      1             1  30.191994 -7.100468
4                      1             1  28.225132 -9.883508
...                  ...           ...        ...       ...
1088                  21             2  -4.140422 -1.348956
1089                  21             2   1.621885 -7.308144
1090                  21             2  11.474667  1.758025
1091                  21             2   7.385520 -1.136369
1092                  21             2   5.492816  2.369384

[45920 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1088                  22             2  -4.515862   2.135844
1089                  22             2   4.044700   8.634296
1090                  22             2   6.615646   2.221687
1091                  22             2   1.894130 -13.909669
1092                  22             2   3.573370  -1.053958

[48106 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1089                  23             2   7.872081 -10.942472
1090                  23             2  -2.780139  -7.348734
1091                  23             2  10.869115   2.703453
1092                  23             2  12.546632   2.943904
1093                  23             2  -5.650307  -5.317219

[50294 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x          y
0                      1             1 -25.387856   7.228724
1                      1             1 -27.947577  -3.327996
2                      1             1 -26.281733   6.580058
3                      1             1  30.191994  -7.100468
4                      1             1  28.225132  -9.883508
...                  ...           ...        ...        ...
1089                  24             2   0.927398  -9.986287
1090                  24             2  -5.684020  -0.091375
1091                  24             2  -0.033976 -10.479115
1092                  24             2  -3.342820  -9.948796
1093                  24             2   6.320178   6.182845

[52482 rows x 4 columns]
-------------------------------------------------------------------------
      Acquisition Number  t_series_num          x         y